.rodape {
  font-size: 1.2rem;
  background: #222222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.rodape i {
  color: white;
  font-size: 24px;
}

.rodape ul li {
  display: inline-block;
  margin-right: 55px;
}

.rodape ul li:last-child {
  margin-right: 0;
}
