* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container section {
  width: 100%;
  height: 100%;
  background: rgb(250, 115, 5);
  background: radial-gradient(
    circle,
    rgba(250, 115, 5, 1) 10%,
    rgba(255, 110, 59, 1) 94%
  );
}
