* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container section {
  width: 100%;
  height: 100%;
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #fa7305 74%);
}
