.child {
  flex: 1;
  min-width: 200px;
  margin: 8px;
  border: 1px solid #ccc;
  width: 300px;
  text-align: center;
}

.child .cabecalho {
  background-color: #f0f0f0;
  border-radius: 10px 10px 0px 0px;
}
.child img {
  width: 100px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.child .rodape {
  height: 230px;
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 90px;
  padding-bottom: 20px;
}

.child .rodape h4 {
  color: #f96721;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin: 0px 8px;
}

.child .rodape h5 {
  font-size: 18px;
  line-height: 22px;
  color: #212121;
  padding: 0 16px;
}

.child .rodape h6 {
  font-size: 16px;
  padding: 0px 10px;
  font-style: italic;
  font-weight: 200;
}
