* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  width: 100%;
  height: 100%;
  background: rgb(251, 165, 63);
  background: radial-gradient(
    circle,
    rgba(251, 165, 63, 1) 0%,
    rgba(252, 83, 70, 1) 100%
  );
}
