:root {
  --fonte: "Montserrat", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #fa7305 74%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
