:root {
  --fonte: "Montserrat", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--fonte);
  background: rgb(251, 165, 63);
  background: radial-gradient(
    circle,
    rgba(251, 165, 63, 1) 0%,
    rgba(252, 83, 70, 1) 100%
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
